<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359092619705-681sqab72p4hr2917jfq47oc46itkpns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359092619705-681sqab72p4hr2917jfq47oc46itkpns</string>
	<key>API_KEY</key>
	<string>AIzaSyDN_zuyQ7tM4gJDquQ9JQGGrq0CO7hNqg4</string>
	<key>GCM_SENDER_ID</key>
	<string>359092619705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelApp</string>
	<key>PROJECT_ID</key>
	<string>traveling-379316</string>
	<key>STORAGE_BUCKET</key>
	<string>traveling-379316.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359092619705:ios:99116db95641437e578e68</string>
</dict>
</plist>